- @posts.each do |post|
  %p= link_to post.body, post_path(post),  id: "body_text"
  %td
  %div{:class => "btn-group", :role => "group"}
    = render 'post', post: post
  %hr{:class => "standard-hr"}
